<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="DefaulConnection" connectionString="Data Source=VIN-ENVY\SQLEXPRESS;Initial Catalog=NopCommerce3.8;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <!--<add name="DefaulConnection" connectionString="Data Source=192.168.168.11;Initial Catalog=Epic.Accounting.Development;User ID=svinokurov;Password=Kiklope12;Connect Timeout=60" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaulConnection" connectionString="Data Source=192.168.168.11;Initial Catalog=Epic.Accounting.Development;User ID={0};Password={1};Connect Timeout=60" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="SolutionPath" value="D:\Projects\Source\Triadisotopes.Reporting" />
    <!--<add key="SearchFilePattern" value=".vb;.aspx;.cs;.resx;.resw;.xml;.htm;.html" />-->
    <add key="SearchFilePattern" value=".vb;aspx.vb;.cs;.xml;.rdl" />
    <add key="FilterNames" value="value" />
    <!--Assuming that Presenters, Views and Validators do not directly refer to any database objects.-->
    <add key="ExcludeFilesContaining" value="Test;TypeEnum;Presenter;View;Validator" />
    <add key="ExcludeDirectories" value="\bin;\obj;\debug" />
    <add key="ExcludeKeyWords" value="class|virtual|void|public|private|protected|return|AddItem|long" />
  </appSettings>
</configuration>